<div class="accordion-group" id="deck<%= deck.id.to_s %>">
	<div class="accordion-heading row">
		<h4>
			<%= link_to truncate(deck.title, length: 30, separator: ' '), 
			            "#deck#{deck.id}-inner",
									class: "accordion-toggle span4",
									data: { parent: "#deck-accordion",
									        toggle: "collapse" } %>
		</h4>
		<div class="actions span3 pull-right">
			<ul>
				<li><%= link_to "Review", '#', data: { remote: true } %> |</li>
				<li><%= link_to "Edit",   edit_deck_path(deck) %> |</li>
				<li><%= link_to "Delete", deck_path(deck), method: :delete, data: { confirm: "Are you sure?", remote: true } %></li>
			</ul>
		</div>
	</div>
	<div id="deck<%= deck.id.to_s %>-inner" class="accordion-body collapse">
		<div class="accordion-inner">
			<i><%= deck.description %></i>
		</div>
	</div>
</div>